---
import Cards from "../components/Cards.astro";

---

<div id="root">
    <div class="w-full overflow-hidden">
        <div id="target-navbar"></div>

         <div
            class="px-3 md:px-6 lg:px-10 xl:px-40 flex w-full items-center justify-center top-[0px]  z-10">
            <nav class="w-full xl:max-w-[1024px] bg-navbar hidden rounded-b-lg nav-padding md:flex">
                <ul class="flex w-full items-center justify-between max-w-[560px] flex-1 list-none" 
                style="margin-left: auto;max-width: 200px;">
                    <li class="text-navbar"><a href="#target-skill">Linkedin</a></li>
                    <li class="text-navbar"><a href="#target-work">Resume</a></li>
                </ul>
            </nav>
        </div>


        <div id="target-about"></div>
        <div
            class="px-3 md:px-6 lg:px-10 xl:px-40 flex w-full items-center justify-center mt-0 md:mt-32 lg:mt-40 xl:mt-48">
            <section id="about" class="w-full xl:max-w-[1024px]">
                <div class="flex w-full items-center justify-evenly flex-col lg:flex-row">
                    <div class="mt-6 text-center md:mt-12 lg:mt-0 lg:text-start">
                        <h2 class="text-h2"> <span class="hithere ml-1 inline-block">👋</span> Hey! My name is 
                            <span style="color:#FEBC2E">Alvin.</span>
                        </h2>
                        <p class="text-p1 mx-auto mb-10 mt-4" style="margin-left: 75px;">
                            Welcome to my <span class="underline underline--accent">project collections!</span>
                        </p>
                    </div>
                </div>
            </section>
        </div>
        
        <div id="target-hobby"></div>
        <div
            class="px-3 flex w-full items-center justify-center mt-10 ">
            <section id="hobby" class="w-full xl:max-w-[1024px]">
                <div id="target-hobby-last"></div>
                <div class="w-full xl:max-w-[1024px] flex w-full items-center justify-between flex-wrap items-stretch gap-4">
                    
                    <Cards title="Tebak Lagu Indonesia"
                        description = "Simple addictive Indonesian music trivia game. More than 1M downloads on Google playstore."
                        img = "/assets/tebaklagu.png"
                        href = "https://play.google.com/store/apps/details?id=com.funsource.tebaklagu"
                        tags = "Unity Engine, C#"
                    />

                    <div class="card">
                        <a href="https://play.google.com/store/apps/details?id=com.funsource.tebaklagu"  target="_blank">
                            <img src="/assets/tebaklagu.png" style="border-radius: 15px 15px 0 0;" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                          <h4 class="card-title"><a href="https://play.google.com/store/apps/details?id=com.funsource.tebaklagu"  target="_blank">Tebak Lagu Indonesia</a></h5>
                          <p class="card-text">Simple addictive Indonesian music trivia game. More than 1M downloads on Google playstore.</p>
                            
                          <a href="https://play.google.com/store/apps/details?id=com.funsource.tebaklagu"  target="_blank" class="text-button">More details</a>
                          <!-- <a href="#" class="text-button">Code </a> -->
                        </div>
                            <div class="card-footer">
                                <div class="project-tags" role="list">
                                    <button class="project-tag">
                                        <span aria-hidden="true">#</span>
                                        Unity Engine
                                      </button>
                                      <button class="project-tag" >
                                        <span aria-hidden="true">#</span>
                                        C#
                                      </button>
                                  </div>
                            </div>
                    </div>
                    
                    <div class="card">
                        <a href="https://play.google.com/store/apps/details?id=com.funsource.tebaklagu"  target="_blank">
                            <img src="/assets/tebaklagu.png" style="border-radius: 15px 15px 0 0;" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                          <h4 class="card-title"><a href="https://play.google.com/store/apps/details?id=com.funsource.tebaklagu"  target="_blank">Tebak Lagu Indonesia</a></h5>
                          <p class="card-text">Simple addictive Indonesian music trivia game. More than 1M downloads on Google playstore.</p>
                            
                          <a href="https://play.google.com/store/apps/details?id=com.funsource.tebaklagu"  target="_blank" class="text-button">More details</a>
                          <!-- <a href="#" class="text-button">Code </a> -->
                        </div>
                            <div class="card-footer">
                                <div class="project-tags" role="list">
                                    <button class="project-tag">
                                        <span aria-hidden="true">#</span>
                                        Unity Engine
                                      </button>
                                      <button class="project-tag" >
                                        <span aria-hidden="true">#</span>
                                        C#
                                      </button>
                                  </div>
                            </div>
                    </div>
                    
                    <div class="card">
                        <a href="#">
                            <img src="/assets/mathadventure.png" style="border-radius: 15px 15px 0 0;" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                          <h4 class="card-title"><a href="#">Olivia Math Adventure</a></h5>
                          <p class="card-text">🏆3rd winner of educational mobile game  <br/>
                            Indonesia government event - Kihajar 2020 <br>
                            300 participants + all Indonesia regions
                            </p>
                            
                          <a class="popup-youtube text-button" href="https://www.youtube.com/watch?v=KbwqEGmZHGY" >More details</a>
                        </div>
                        <div class="card-footer">
                            <div class="project-tags" role="list">
                                <button class="project-tag">
                                    <span aria-hidden="true">#</span>
                                    Unity Engine
                                    </button><button class="project-tag" >
                                    <span aria-hidden="true">#</span>
                                    C#
                                    </button>
                                </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <a href="#">
                            <img src="/assets/GamerSimulator.jpg" style="border-radius: 15px 15px 0 0;" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                          <h4 class="card-title"><a href="#">Gamer Simulator</a></h5>
                          <p class="card-text">Simple 3d low poly game inspired by Internet cafe simulator game for android.</p>
                            
                          <a class="popup-youtube text-button" href="https://www.youtube.com/watch?v=Wj8CxT94zDw" >More details</a>
                        </div>
                            <div class="card-footer">
                                <div class="project-tags" role="list">
                                    <button class="project-tag">
                                        <span aria-hidden="true">#</span>
                                        Unity Engine
                                      </button><button class="project-tag" >
                                        <span aria-hidden="true">#</span>
                                        C#
                                      </button>
                                  </div>
                            </div>
                    </div>

                    
                </div>
                <!-- <div class="flex w-full items-center justify-center mt-10"><a href="#none"
                        class="text-button undefined">+ Show more</a></div> -->
            </section>
        </div>

        <div id="target-footer"></div>
        <div
            class="px-3 md:px-6 lg:px-10 xl:px-40 flex w-full items-center justify-center mt-24 md:mt-32 lg:mt-40 xl:mt-48">
            <footer
                class="w-full xl:max-w-[1024px] flex w-full items-center justify-center  bg-purple rounded-t-lg pb-28 md:pb-5"
                style="padding-top: 0.5rem; padding-bottom: 0.5rem;;"
                >
                <span class="text-p2 !text-white"> </span>
            </footer>
        </div>
    </div>
</div>
