---
import Base from "./Base.astro";
import '../../node_modules/github-markdown-css/github-markdown.css';
const {frontmatter} = Astro.props;

---

<style>
    .markdown-body {
        color: white;
        padding: 3rem;
        border-radius: 10px;
		box-sizing: border-box;
		min-width: 200px;
		margin: 0 auto;
		padding: 45px;
        background-color: #0d1117c2;
	}

	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}
</style>


<Base showNavName> 
    <div class="px-3 md:px-6 lg:px-10 xl:px-40 flex w-full items-center justify-center mt-0 md:mt-32 lg:mt-40 xl:mt-48">
        <section id="about" class="  w-full" style="max-width: 980px;">
            <!-- <a href="/" class="text-button mt-6 mb-4">Back to Home</a>  -->
            <div class="markdown-body">
                <div class="text-center text-3xl font-bold my-font">{frontmatter.title}</div>
                <slot></slot>
            </div>
        </section>
    </div>
</Base>